* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.kicad_pro text eol=lf
*.kicad_sch text eol=lf
*.kicad_pcb text eol=lf
*.kicad_sym text eol=lf
*.kicad_mod text eol=lf
*.py text eol=lf
*.v text eol=lf
*.sv text eol=lf
*.vhd text eol=lf
*.docx binary
*.pdf binary
*.FCStd binary
*.blend binary
*.png binary
*.jpg binary
*.zip binary
